{
 "datacenter": "main",
 "data_dir": "var/lib/consul",
 "node_name": "homeworkClient",
 "bind_addr": "192.168.0.12",
 "enable_syslog": false,
 "bootstrap": false,
 "server": false,
 "log_level": "DEBUG"
}
